/*
html{
	text-align: center;
	
}*/

body {
	text-align: center;
	background: linear-gradient(45deg, hsl(240, 35%, 40%), hsl(300, 35%, 40%));
	background-size: contain;
	background-repeat: no-repeat;
	flex-basis: auto;
	padding-bottom: 15vh;
}

.content-box h1 {
	font-family: Verdana, sans-serif;
	font-weight: lighter;
	font-size: 5.5vw;
	color: hsl(180, 02%, 70%);
	text-align: center;
	letter-spacing: 7px;
	
}

/* js animation */
#resume-hidden {
	display: none;
}

.index-details {
	font-family: Verdana, sans-serif;
	font-weight: lighter;
	font-size: 3.5vw;
	line-height: 6vh;
	color: hsl(180, 02%, 70%);
	text-align: center;
	padding: 20px;
}

.navicon {
	display: none;
}

.topnav {
    font-family: Verdana, sans-seif;
	font-weight: lighter;
	text-align: center;
	width: 100%;
	margin-top: 4vw;
}



/* Change the color of links on hover */
/*.topnav a:hover {
    border-bottom: 4px solid hsl(180, 02%, 70%);;
    font-size: 24px;
}*/

.pseudo-link:hover {
    color: hsl(180, 100%, 50%);;
}

/* Add a color to the active/current link */
.topnav a:active {
    background-color: hsl(240, 25%, 50%);
    color: hsl(180, 02%, 70%);
}


/* Style the links inside the navigation bar */
.topnav a {
	text-decoration: none;
	color: hsl(180, 02%, 70%);
	font-size: 3.8vw;
	margin: 1vw 3vw 1vw 3vw;
	
}

.topnav a:hover {
	color: hsl(180, 100%, 50%);
	/*border-bottom: 2.5px solid hsl(240, 87%, 45%);*/
}

.pseudo-link {
	color: hsl(180, 02%, 70%);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3.8vw;
    letter-spacing: 1.5px;
}

#hot-button:hover {
	border-bottom: 2.5px solid hsl(180, 100%, 50%);
}

a:active {
	color: hsl(180, 02%, 70%);
	text-decoration: none;
}

.navbar {
	font-family: Verdana, sans-seif;
	font-weight: lighter;
	margin-left: 30px;
	text-align: center;
}

.navlink {
	letter-spacing: 1.5px;
}

.wrapper {
	position: relative;
}

.content-box {
	background-color: hsl(240, 87%, 45%);
	border: 1px solid rgb(11, 48, 75);
	border-radius: 6px;
	padding: 30px;
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 5vh;

}

.content-box a {
	text-decoration: none;
	color: hsl(180, 02%, 70%);
	font-size: 3.5vw;
	
}

.content-box a:hover {
	border-bottom: 2.5px solid hsl(180, 100%, 50%);
}

.headshot {
	position: absolute;
  	top: 0;
  	right: 10px;
	text-align: right;
	float: right;
	margin-right: 5vw;
	margin-top: 8vh;
}

#sepic {
	width:auto;
    height:auto;
    max-width: 12vw;
    max-height: 30vh;
	border: 2px solid rgb(11, 48, 75);
	border-radius: 180px;
	display: inline-block;
	float: right;
	z-index: 1;
}

/*
.resume-header {
	color: hsl(180, 02%, 70%);
	font-family: Verdana, sans-serif;
	font-weight: lighter;
	font-size: 2vw;
	display: block;
	text-align: center;
}

.resume-header h1 {
	color: hsl(180, 02%, 70%);
	font-family: Verdana, sans-serif;
	font-weight: lighter;
	font-size: 7vw;
	text-align: center;
	text-decoration: none;
	letter-spacing: 7px;
}*/

/*
.resume-summary {
	font-size: 2vw;
	color: hsl(180, 02%, 70%);
	text-align: left;
	width: 70%;
	margin: auto;
}

.resume-projects p {
	font-size: 2vw;
	color: hsl(180, 02%, 70%);
	text-align: left;
	width: 70%;
	margin: auto;
}

.resume-header a {
	color: hsl(180, 02%, 70%);
	font-size: 2vw;
	text-decoration: none;
	
}

.resume-header a:hover {
	border-bottom: 2px solid #136;
}

.resume-projects a {
	font-size: 2vw;
	text-decoration: none;
	color: hsl(180, 02%, 70%);
}

.resume-projects a:hover {
	border-bottom: 2px solid #136;
}


.project-details {
	text-indent: 10px;
}

.skills p {
	font-size: 2vw;
	color: hsl(180, 02%, 70%);
	text-align: left;
	width: 70%;
	margin: auto;
}

.education p {
	font-size: 2vw;
	color: hsl(180, 02%, 70%);
	text-align: left;
	width: 70%;
	margin: auto;
}

.employment p {
	font-size: 2vw;
	color: hsl(180, 02%, 70%);
	text-align: left;
	width: 70%;
	margin: auto;
}


.employment-details {
	font-size: 2vw;
	color: hsl(180, 02%, 70%);
	text-indent: 10px;
}

h4 {
	text-decoration: underline;
	font-weight: lighter;
	color: hsl(180, 02%, 70%);
	text-align: left;
	width: 70%;
	margin: auto;
}*/


}

.project img{
	height: 250px;
	width: 250px;
	border: 1px solid black;
	margin: auto;
}

.project-intro {
	margin-left: 30px;
}

.line-break {
	color: hsl(180, 02%, 70%);
	width: 75%;
}

.footer {
	margin-left: 30px;
	margin-right: 30px;

}

.footnote {
	text-align: center;
	display: block;
	color: hsl(180, 02%, 55%);
}

.social {
	float: right;
	margin-left: 30px;
	margin-right: 30px;
}

.fa-3x {
    font-size: 3em;
}
.fa {
    display: inline-block;
    color: hsl(180, 02%, 70%);
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa:hover {
	color: hsl(180, 100%, 50%);
	border-bottom-style: none;
}

#resume-hidden {
	width: 85%;
	margin: auto;
}

.resume-header {
	color: hsl(180, 02%, 70%);
	font-family: Verdana, sans-serif;
	font-weight: lighter;
	font-size: 2.25vw;
	display: block;
	text-align: center;
}

.resume-header h1 {
	color: hsl(180, 02%, 70%);
	font-family: Verdana, sans-serif;
	font-weight: lighter;
	font-size: 7vw;
	text-align: center;
	text-decoration: none;
	letter-spacing: 7px;
}


.resume-summary {
	font-size: 2.25vw;
	color: hsl(180, 02%, 70%);
	text-align: left;
	width: 70%;
	margin: auto;
}

.resume-projects p {
	font-size: 2.25vw;
	color: hsl(180, 02%, 70%);
	text-align: left;
	width: 70%;
	margin: auto;
}

.resume-header a {
	color: hsl(180, 02%, 70%);
	font-size: 2.25vw;
	text-decoration: none;
	
}

.resume-header a:hover {
	border-bottom: 2px solid hsl(180, 100%, 50%);
}

.resume-projects a {
	font-size: 2.25vw;
	text-decoration: none;
	color: hsl(180, 02%, 70%);
}

.resume-projects a:hover {
	border-bottom: 1px solid hsl(180, 100%, 50%);
}


.project-details {
	text-indent: 10px;
}

.skills p {
	font-size: 2.25vw;
	color: hsl(180, 02%, 70%);
	text-align: left;
	width: 70%;
	margin: auto;
}

.education p {
	font-size: 2.25vw;
	color: hsl(180, 02%, 70%);
	text-align: left;
	width: 70%;
	margin: auto;
}

.employment p  {
	font-size: 2.25vw;
	color: hsl(180, 02%, 70%);
	text-align: left;
	width: 70%;
	margin: auto;
}


.employment-details {
	color: hsl(180, 02%, 70%);
	text-indent: 10px;
}

h4 {
	color: hsl(180, 02%, 70%);
	text-align: left;
	text-decoration: underline;
	font-weight: lighter;
	font-size: 3.25vw;
	width: 70%;
	margin: auto;
}

hr {
	width: 50vw;
	opacity: 0.5;
}

/*PROJECTS PAGE*/

.project-intro {
	font-size: 2.5vw;
	color: hsl(180, 02%, 70%);
}

.project a {
	width: 70%;
	height: 50%;
	margin: auto;
}

/* MEDIA QUERIES */

/*@media screen and (min-width: 900px){
	#sepic {
		width:auto;
	    height:auto;
	    max-width: 65%;
	    max-height: 35vh;
	    margin-bottom: 10px;
	}
}*/

@media screen and (max-width: 650px) {
	#pipes {
		display: none;
	}
	#sepic {
		display: none;
	}

	.topnav {
	  display: none;
	}

	.content-box h1 {
		font-family: Verdana, sans-serif;
		font-weight: lighter;
		font-size: 8.25vw;
		color: hsl(180, 02%, 70%);
		text-align: center;
		letter-spacing: 8px;
		
	}

	/* js animation */
	#resume-hidden {
		display: none;
	}

	.index-details {
		font-family: Verdana, sans-serif;
		font-weight: lighter;
		font-size: 5vw;

		color: hsl(180, 02%, 70%);
		text-align: center;
		padding: 20px;
	}

	.content-box {
		background-color: hsl(240, 87%, 45%);
		border: 1px solid rgb(11, 48, 75);
		border-radius: 6px;
		padding: 30px;
		display: inline-block;
		margin-left: 30px;
		margin-right: 30px;

	}

	.content-box a {
		text-decoration: none;
		color: hsl(180, 02%, 70%);
		font-size: 5vw;
		
	}

	.navicon {
	  display: inline;
	  float: right;
	  overflow: hidden;
	}

	.dropbtn {
	  font-size: 16px; 
	  border: none;
	  outline: none;
	  color: white;
	  padding: 14px 16px;
	  background-color: inherit;
	  font-family: inherit; /* Important for vertical align on mobile phones */
	  margin: 0; /* Important for vertical align on mobile phones */
	}

	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: hsl(240, 25%, 75%);
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
	  float: none;
	  color: hsl(240, 87%, 45%);
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	  text-align: left;
	}

	/* Add a grey background color to dropdown links on hover */
	.dropdown-content a:hover {
	  background-color: hsl(180, 100%, 50%);
	}

	/* Show the dropdown menu on hover */
	.navicon:hover .dropdown-content {
	  display: block;
	}

	#resume-hidden {
		width: 90%;
		margin: auto;
	}

	.resume-header {
		color: hsl(180, 02%, 70%);
		font-family: Verdana, sans-serif;
		font-weight: lighter;
		font-size: 5.5vw;
		display: block;
		text-align: center;
		width: 100%;
	}

	.resume-header h1 {
		color: hsl(180, 02%, 70%);
		font-family: Verdana, sans-serif;
		font-weight: lighter;
		font-size: 7.5vw;
		text-align: center;
		text-decoration: none;
		letter-spacing: 7px;
	}


	.resume-summary {
		font-size: 5.5vw;
		color: hsl(180, 02%, 70%);
		text-align: left;
		width: 90%;
		margin: auto;
	}

	.resume-projects p {
		font-size: 5.5vw;
		color: hsl(180, 02%, 70%);
		text-align: left;
		width: 90%;
		margin: auto;
	}

	.resume-header a {
		color: hsl(180, 02%, 70%);
		font-size: 5.5vw;
		text-decoration: none;
		
	}

	.resume-header a:hover {
		border-bottom: 1.5px solid hsl(180, 100%, 50%);
	}

	.resume-projects a {
		font-size: 5.5vw;
		text-decoration: none;
		color: hsl(180, 02%, 70%);
	}

	.resume-projects a:hover {
		border-bottom: 1px solid hsl(180, 100%, 50%);
	}


	.project-details {
		text-indent: 10px;
	}

	.skills p {
		font-size: 5.5vw;
		color: hsl(180, 02%, 70%);
		text-align: left;
		width: 90%;
		margin: auto;
	}

	.education p {
		font-size: 5.5vw;
		color: hsl(180, 02%, 70%);
		text-align: left;
		width: 90%;
		margin: auto;
	}

	.employment p  {
		font-size: 5.5vw;
		color: hsl(180, 02%, 70%);
		text-align: left;
		width: 90%;
		margin: auto;
	}


	.employment-details {
		color: hsl(180, 02%, 70%);
		text-indent: 10px;
	}

	h4 {
		text-decoration: underline;
		font-weight: lighter;
		font-size: 4.25vw;
		text-align: left;
		width: 90%;
	}

	hr {
		width: 50vw;
		opacity: 0.5;
	}

	#project-topline {
		opacity: 0;
	}

	.project-intro {
		font-size: 6vw;
		margin: auto;
		width: 80%;
		text-align: left;
	}
}

